SUPABASE_URL=https://mngarkhpktmsbqffjjxq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1uZ2Fya2hwa3Rtc2JxZmZqanhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjY3MjAsImV4cCI6MjA5MDU0MjcyMH0.5YlxYJerd4RgWdJNOJ_gBeqcj1LefJ16bMsCs29HKFs


